<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style1.css' %}">
</head>
<body>
	<div class="container-fluid bg-dark">
		{% include "blog/navbar.html" %}
		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				{% block msg %}
				{% endblock msg %}
			</div>
		</div>
		<div class="row">
			{% block side %}
			{% endblock side %}
			{% block content %}
			{% endblock content %}
		</div>
	</div>



<script type="text/javascript" src="{% static 'blog/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/popper.js' %}"></script>

</body>
</html>